
.icon-floppy:before { content: '\e800'; } /* '' */
.icon-cog:before { content: '\e801'; } /* '' */
.icon-gmail:before { content: '\e803'; } /* '' */
.icon-paypal:before { content: '\e804'; } /* '' */
.icon-trophy:before { content: '\f074'; } /* '' */
.icon-chart-bar:before { content: '\f526'; } /* '' */